@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    
    h3{
        color:hsl(208, 49%, 24%);
    }

    .lbg-1{
        background: url("../images/bg-pattern-intro.svg"),linear-gradient(hsl(353, 100%, 62%),hsl(13, 100%, 72%));
        background-position: 60% , -90%;
        background-size: 145%, 100%;
        
        background-repeat:no-repeat;

        

    }
    .lbg-2{
        background-image:linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%))
    }

    

    .footer{
        

        border-top-right-radius:4.5rem;
    }
}